* {
  margin: 0;
  padding: 0; }

body {
  position: relative; }

img {
  max-width: 100%; }

.clearfix {
  clear: both; }

/**************Header***************/
.l-header {
  position: relative; }
  .l-header .banner {
    width: 100%; }

/*************Navigation***********/
.c-nav {
  width: 100%;
  height: 100px;
  background: url(../img/bg_navi.jpg) repeat-x;
  position: absolute;
  bottom: -90px;
  left: 0; }
  .c-nav ul {
    width: 965px;
    height: 100px;
    display: block;
    margin: 0 auto; }
  .c-nav li {
    float: left;
    list-style: none; }

/***********Main******************/
.l-main {
  width: 100%;
  overflow: hidden; }

.section01 {
  width: 100%;
  height: 1793px;
  background: url(../img/bg_01.jpg) no-repeat center center;
  margin-top: 90px; }

.youtubePhoto {
  display: block;
  margin: 0 auto;
  padding-top: 120px;
  padding-bottom: 80px; }

.info {
  margin: 0 auto;
  display: block; }

.section02 {
  width: 100%;
  height: 5250px;
  background: url(../img/bg_02.jpg) no-repeat center center; }
  .section02 .c-box1 {
    width: 100%;
    height: 450px;
    display: block;
    margin: 0 auto;
    overflow: hidden; }
    .section02 .c-box1__title {
      margin: 30px auto 0 auto;
      display: block; }
    .section02 .c-box1__content {
      width: 750px;
      overflow: hidden;
      display: block;
      margin: 0 auto; }
      .section02 .c-box1__content img:nth-child(2) {
        margin-top: 10px; }
      .section02 .c-box1__content li {
        width: 49%;
        float: left;
        list-style: none;
        margin-right: 1%;
        margin-top: 25px; }
        .section02 .c-box1__content li img {
          max-width: 100%; }
  .section02 .c-box2 {
    width: 100%;
    height: 450px;
    display: block;
    margin: 0 auto;
    overflow: hidden; }
    .section02 .c-box2__title {
      margin: 30px auto 0 auto;
      display: block; }
    .section02 .c-box2__content {
      width: 750px;
      overflow: hidden;
      display: block;
      margin: 0 auto; }
      .section02 .c-box2__content img:nth-child(2) {
        margin-top: 10px; }
      .section02 .c-box2__content li {
        width: 49%;
        float: left;
        list-style: none;
        margin-right: 1%;
        margin-top: 25px; }
        .section02 .c-box2__content li img {
          max-width: 100%; }
  .section02 .c-box3 {
    width: 100%;
    height: 450px;
    display: block;
    margin: 0 auto;
    overflow: hidden; }
    .section02 .c-box3__title {
      margin: 30px auto 0 auto;
      display: block; }
    .section02 .c-box3__content {
      width: 750px;
      overflow: hidden;
      display: block;
      margin: 0 auto; }
      .section02 .c-box3__content img:nth-child(2) {
        margin-top: 10px; }
      .section02 .c-box3__content li {
        width: 49%;
        float: left;
        list-style: none;
        margin-right: 1%;
        margin-top: 25px; }
        .section02 .c-box3__content li img {
          max-width: 100%; }
  .section02 .c-box4 {
    width: 100%;
    height: 450px;
    display: block;
    margin: 0 auto;
    overflow: hidden; }
    .section02 .c-box4__title {
      margin: 30px auto 0 auto;
      display: block; }
    .section02 .c-box4__content {
      width: 750px;
      overflow: hidden;
      display: block;
      margin: 0 auto; }
      .section02 .c-box4__content img:nth-child(2) {
        margin-top: 10px; }
      .section02 .c-box4__content li {
        width: 49%;
        float: left;
        list-style: none;
        margin-right: 1%;
        margin-top: 25px; }
        .section02 .c-box4__content li img {
          max-width: 100%; }
  .section02 .c-box5 {
    width: 100%;
    height: 450px;
    display: block;
    margin: 0 auto;
    overflow: hidden; }
    .section02 .c-box5__title {
      margin: 30px auto 0 auto;
      display: block; }
    .section02 .c-box5__content {
      width: 750px;
      overflow: hidden;
      display: block;
      margin: 0 auto; }
      .section02 .c-box5__content img:nth-child(2) {
        margin-top: 10px; }
      .section02 .c-box5__content li {
        width: 49%;
        float: left;
        list-style: none;
        margin-right: 1%;
        margin-top: 25px; }
        .section02 .c-box5__content li img {
          max-width: 100%; }
  .section02 .c-box6 {
    width: 100%;
    height: 450px;
    display: block;
    margin: 0 auto;
    overflow: hidden; }
    .section02 .c-box6__title {
      margin: 30px auto 0 auto;
      display: block; }
    .section02 .c-box6__content {
      width: 750px;
      overflow: hidden;
      display: block;
      margin: 0 auto; }
      .section02 .c-box6__content img:nth-child(2) {
        margin-top: 10px; }
      .section02 .c-box6__content li {
        width: 49%;
        float: left;
        list-style: none;
        margin-right: 1%;
        margin-top: 25px; }
        .section02 .c-box6__content li img {
          max-width: 100%; }
  .section02 .c-box7 {
    width: 100%;
    height: 450px;
    display: block;
    margin: 0 auto;
    overflow: hidden; }
    .section02 .c-box7__title {
      margin: 30px auto 0 auto;
      display: block; }
    .section02 .c-box7__content {
      width: 750px;
      overflow: hidden;
      display: block;
      margin: 0 auto; }
      .section02 .c-box7__content img:nth-child(2) {
        margin-top: 10px; }
      .section02 .c-box7__content li {
        width: 49%;
        float: left;
        list-style: none;
        margin-right: 1%;
        margin-top: 25px; }
        .section02 .c-box7__content li img {
          max-width: 100%; }
  .section02 .c-box8 {
    width: 100%;
    height: 450px;
    display: block;
    margin: 0 auto;
    overflow: hidden; }
    .section02 .c-box8__title {
      margin: 30px auto 0 auto;
      display: block; }
    .section02 .c-box8__content {
      width: 750px;
      overflow: hidden;
      display: block;
      margin: 0 auto; }
      .section02 .c-box8__content img:nth-child(2) {
        margin-top: 10px; }
      .section02 .c-box8__content li {
        width: 49%;
        float: left;
        list-style: none;
        margin-right: 1%;
        margin-top: 25px; }
        .section02 .c-box8__content li img {
          max-width: 100%; }
  .section02 .c-box1 {
    background: url(../img/bg_box_01.png) no-repeat top center;
    margin-bottom: 14px; }
    .section02 .c-box1__content img:nth-child(1) {
      margin-top: 10px; }
  .section02 .c-box2 {
    background: url(../img/bg_box_02.png) no-repeat top center;
    margin-bottom: 12px; }
    .section02 .c-box2 li {
      margin-top: 20px; }
  .section02 .c-box3 {
    background: url(../img/bg_box_03.png) no-repeat center center;
    margin-bottom: 14px; }
  .section02 .c-box4 {
    background: url(../img/bg_box_04.png) no-repeat top center;
    margin-bottom: 14px; }
    .section02 .c-box4 li {
      margin-top: 15px; }
  .section02 .c-box5 {
    background: url(../img/bg_box_05.png) no-repeat top center;
    margin-bottom: 14px; }
  .section02 .c-box6 {
    background: url(../img/bg_box_06.png) no-repeat top center;
    margin-bottom: 14px; }
  .section02 .c-box7 {
    background: url(../img/bg_box_07.png) no-repeat top center;
    margin-bottom: 14px; }
  .section02 .c-box8 {
    background: url(../img/bg_box_08.png) no-repeat top center; }
    .section02 .c-box8 li {
      margin-top: 35px; }

.c-action {
  width: 100%;
  overflow: hidden;
  margin-top: 15px;
  margin-bottom: 100px; }
  .c-action li {
    list-style: none;
    float: left;
    width: 50%; }

.c-updateInfo {
  width: 60%;
  height: 610px;
  margin: 0 40px 100px 40px;
  background: url(../img/bg_notice.png) no-repeat center center;
  background-size: cover;
  float: left; }
  .c-updateInfo__title {
    width: 80%;
    display: block;
    margin: 72px auto 0 auto;
    overflow: hidden; }
  .c-updateInfo h2 {
    float: left; }
  .c-updateInfo h3 {
    float: right;
    padding-top: 25px; }
  .c-updateInfo__content {
    width: 80%;
    height: 400px;
    display: block;
    overflow: auto;
    margin: 30px auto 0 auto; }
  .c-updateInfo li {
    margin-bottom: 40px;
    font-size: 22px;
    color: #4a1d06;
    font-weight: bold; }
  .c-updateInfo a {
    text-decoration: none;
    color: #4a1d06; }

.c-twitterLive {
  width: 32.5%;
  height: 610px;
  float: left;
  background-color: yellow; }

.c-social {
  width: 700px;
  overflow: hidden;
  margin-left: auto;
  margin-right: auto;
  display: block; }
  .c-social li {
    list-style: none;
    float: left;
    margin-left: 53px; }

/***********Footer****************/
.l-footer {
  width: 100%;
  height: 545px;
  background: url(../img/bg_footer.png) no-repeat top center;
  background-size: cover;
  position: relative;
  top: 0; }

.c-icon {
  width: 70%;
  top: -100px;
  left: 15%;
  position: absolute; }
  .c-icon li {
    float: left;
    list-style: none;
    margin-left: 20px; }

.c-logo {
  width: 90%;
  overflow: hidden;
  padding-top: 180px;
  margin-left: 65px; }
  .c-logo li {
    list-style: none;
    float: left; }

.copyright {
  float: right; }
